html{
	overflow:hidden;
}
body{
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 100%;
	height: 100%;
	border:0;
	text-align: left;
	background-image: url(main-bg.jpg);
	background-size:cover;	
	background-repeat: no-repeat ;
	background-position:center;	
	background-color:#eeeeee;
} 
form{
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
	line-height:1px;
}
.login_main{
	width: 1000px;/*登录面板宽度*/
	margin: 0 auto;
	text-align: left;
	position:relative;
	background: url(login-bg.png) center top no-repeat transparent;
	height:620px;

}
.login_top{
	width: 100%;
	height: 80px;/*登录面板头部高度*/
	border-bottom:solid 1px #d4d4d4;
	background:#fff;
}
.login_middle{
	width: 100%;
	height: 0%/*登录面板中部高度*/	
}
.login_middleleft{
	float: left;
	width: 520px;/*登录面板中部左侧宽度*/
	height: 100%;	
	}
.login_middlecenter{
	float: left;
	width: 416px;/*登录面板中部右侧宽度*/
	height: 100%;	
	text-align: left;
	
}
.login_bottom{
	width: 100%;
	height: 80px;/*登录面板底部高度*/
	position:absolute;
	bottom:0px;
	background:#fff;
}

.top_title{
	position:absolute;
	left:15px;/*x坐标*/
	top:0px;/*y坐标*/
	width:499px;/*宽度*/
	height:80px;/*高度*/
	background-image: url(top-title.png);
	background-repeat: no-repeat;
}

.top_logo{
	position:absolute;
	right:25px;/*x坐标*/
	top:0px;/*y坐标*/
	width:209px;/*宽度*/
	height:80px;/*高度*/
	background-image: url(top-logo.png);
	background-repeat: no-repeat;
}

.login_title{
	position:absolute;
	left:50px;/*标题x坐标*/
	top:77px;/*标题y坐标*/
	width:675px;/*标题宽度*/
	height:89px;/*标题高度*/
	background-image: url(login-title.png);
	background-repeat: no-repeat;
}

.letter_space{
letter-spacing:1em;
}
.login_user{
	padding:0 0 0 0px;
	font-weight:bold;
	color:#333;/*表单文字颜色*/
	font-size:14px;
	font-family:微软雅黑;
}
.login_pass{
	padding:38px 0 0 0px;/*密码框距用户名框的垂直距离*/
	font-weight:bold;
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
}
.login_form{
	padding:193px 0px 0 85px;/*表单位置*/
	text-align:center;
}
.login_button .input{
	width: 80px;/*按钮宽度*/
	height: 30px;/*按钮高度*/
	border:0;
	cursor:pointer;
	background: url(login-button.png) transparent ;	
}
.login_user input{
	border:transparent;/*边框色*/
	width:240px;/*用户名框宽度*/
	height:28px;
	line-height:26px;
	background: /*url(login-box.png) no-repeat center */transparent;
	padding-left:10px;
}
.login_pass input{
	border:transparent;/*边框色*/	
	width:240px;/*密码框宽度*/
	height:28px;
	line-height:26px;
	background: /*url(login-box.png) no-repeat center */transparent;
	padding-left:10px;
}
.login_button_left{
	position:absolute;
	right:330px;/*提交按钮x坐标*/
	top:345px;/*提交按钮y坐标*/
}

.login_button_right{
	position:absolute;
	left:285px;/*记住按钮x坐标*/
	top:350px;/*记住按钮y坐标*/
	width:150px;
	color:#909090;
	font-size:14px;
}

.login_button_right a,.login_button_right a:link,.login_button_right a:hover,.login_button_right a visited{
	color:#909090;
	text-decoration:underline; 
}

.login_copyright{
	color:#666a76;/*版权声明文字颜色*/
	text-align:center;
	padding:12px 0 20 0px;/*版权声明位置*/
	line-height:20px;
	height:40px;
	margin:15px;
	font-size:14px;
}
